{% extends 'base.html'%}
{%load static%}
{%block content%}
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1">Your Home Smart Devices & Best Solutions</h1>
                    <!-- <h5 class="text-white mt-3 mb-4" data-aos="fade-right">Your Home Smart Devices & Best Solutions</h5> -->
                    <div data-aos="fade-up" data-aos-delay="50">
                        <a style="border-radius: 0px;" href="product.html" class="btn btn-brand me-2">Shop All Devices</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-padding">
      <div class="container "  >
       
    
        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col " data-aos="fade-up">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/image/Smartwatch.jpg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" data-aos="fade-up">Smart Watch For
                  Your Hand</h3>
               
              </div>
            </div>
          </div>
    
          <div class="col" data-aos="fade-up">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url(assets/image/headphone.jpeg);;">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" data-aos="fade-up">Headphones</h3>
                
              </div>
            </div>
          </div>
    
          <div class="col" data-aos="fade-up">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('assets/image/smartphone.jpeg');">
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" data-aos="fade-up">SmartPhone</h3>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    
        </div>
    </section>
<!-- ----------------------------------------------------------------------------------------------------------------- -->
    <section id="services" class="section-padding border-top">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Products</h1>
                        <div class="line"></div>
                        <p>Products are the result of innovative development and marketing efforts designed to meet consumer needs and drive economic and social impact</p>
                    </div>
                </div>
        </div>
          
  <div class="container py-5">
    <div class="row">
      {% for product in products %}
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <a href ="{{product.get_url}}" class="img_wrap">
          <img src="{{ product.image.url }}"
            class="card-img-top" alt="Laptop" /></a>
          <div class="card-body">

            <div class="d-flex justify-content-between mb-3">
              <a href="{{product.get_url}}">
              <h5 class="mb-0">{{product.pro_name}}</h5>
              </a>
              <h5 class="text-dark mb-0">₹{{product.price}}</h5>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
              <div class="ms-auto text-warning">
             <a href="#" class="btn btn-outline-success">Add To Cart</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
{%endfor%}
        
    </section>

    <section id="counter" class="section-padding">
        <div class="container text-center">
          
          <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1">Smart Fashion
            With Smart Devices</h1>
            <a href="#" class="btn btn-brand me-2">Shop All Devices</a>
        </div>
    </section>

{%endblock%}