{% extends 'base.html'%}
{%load static%}
{% block content%}
<br>

 <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Products</h1>
                        <div class="line"></div>
                     <h3>Found {{product_count}}<span class="">Items found</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
  <div class="card-body">
   <div class="container text-center">
  <div class="row">
    <div class="col-sm-4">
    <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    All Categories
  </button>
  <ul class="dropdown-menu">
    {% for category in links%}
    <li><a class="dropdown-item" href="{{category.get_url}}">{{category.name }}</a></li>
    {% endfor %}
  </ul>
</div>
    </div>
    
    <div class="col-sm-6">
<div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>
    </div>
  </div>
</div>
  </div>
</div>
            <div class='container'>

</div>
<br>
    <div class="row">
        
  <div class="col-sm-4 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <div class="row">
     <div class="col-12 col-md-12">
        <div class="card">
            <div class="card-body">
              
                <div class="row">
                    <div class="col-12">
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="checkbox" value="" id="cartCheck6">
                            <label class="form-check-label" for="cartCheck6">
                                All Products
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="checkbox" value="" id="cartCheck7">
                            <label class="form-check-label" for="cartCheck7">
                                Headphones
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="checkbox" value="" id="cartCheck8">
                            <label class="form-check-label" for="cartCheck8">
                                Speakers
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="checkbox" value="" id="cartCheck9">
                            <label class="form-check-label" for="cartCheck9">
                                Mouse
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check mb-1">
                            <input class="form-check-input" type="checkbox" value="" id="cartCheck10">
                            <label class="form-check-label" for="cartCheck10">
                                Stands
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h3 class="h5 card-title">Price range</h3>	
<div class="row">
    <div class="col-12 col-md-12">
        <div class="card shadow">
            <div class="card-body">
                
                <!-- Simple slider -->
                <div class="input-slider-container">
                    <div id="input-slider-ecommerce" class="input-slider" data-range-value-min="100" data-range-value-max="500"></div>
                    <!-- Input slider values -->
                    <div class="row mt-3 d-none">
                        <div class="col-6">
                            <span id="input-slider-value" class="range-slider-value" data-range-value-low="200"></span>
                        </div>
                    </div>
                </div>
                <!-- End of Slider -->
                <div class="d-flex mb-3">
                    <div class="col-md-6 me-2">
                        <label for="priceRangeMin1">Min</label>
                        <input class="form-control" id="priceRangeMin1" placeholder="$0" type="number">
                    </div>
                    <div class="col-md-6 text-right">
                        <label for="priceRangeMax1">Max</label>
                        <input class="form-control" id="priceRangeMax1" placeholder="$1,0000" type="number">
                    </div>
                </div>
                <div class="d-grid">
                    <a href="#" class="btn btn-tertiary">Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>
      </div>
    </div>
    
  </div>
  
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
            {% for product in products %}
    <div class="col-12 col-md-6">
        <div class="card shadow">
            <img src="../../assets/img/shop/item-1.png" alt="watch large"> 
            <div class="card-footer bg-gray-200 border-top border-gray-300 p-4">
                <a href="#" class="h5">{{product.pro_name}}</a>
               
                <div class="d-flex justify-content-between align-items-center mt-3">
                    <span class="h6 mb-0 text-gray">${{product.price}}</span> 
                    <a class="btn btn-xs btn-tertiary" href="#">
                        <span class="fas fa-cart-plus me-2"></span> Add to cart
                    </a>
                </div>
            </div>
        </div> 
    </div>
    {%endfor%}
</div>

      </div>
    </div>
  </div>
           
</div>
    </section>


{% endblock%}